In [2]:
print("hello")

hello

In [3]:
#single line comment

In [7]:
num1 = 55 #this is a variable pointing to a memory location
print(num1)

55

In [8]:
a,b = 3,5
print(b,a)

5 3

In [11]:
my_name = "Utsav"
print(type(my_name))
a = 2.3
print(type(a))
b = True
print(type(b))

<class 'str'>
<class 'float'>
<class 'bool'>

In [13]:
a= 5
b = 6 
print(a!=b)

True

In [ ]:
#list mutable data type
#heterogeneous data type
list = [1,2,"utsav",False,10.23]
print(list)
print(len(list))  #how many elements in the list
print(type(list)) #type
print(list[3]) #accessing fourth element

[1, 2, 'utsav', False, 10.23]
5
<class 'list'>
False

In [ ]:
#empty list creation:
list = []
print(list)
list.append(4) #insert item at the end of the list
print(list)
list.append(5)
print(list)

[]
[4]
[4, 5]

In [ ]:
list = [1,2,"utsav",False,10.23]
list.insert(2,"new")
print(list) #inserting at index 2, third position

[1, 2, 'new', 'utsav', False, 10.23]

In [29]:
list = [1,2,2,2,2,10.23]
print(list.count(2)) #counting how many times 2 appears in the list
print(list.pop()) #removing last element and returning it
print(list.pop(3)) 
print(list) #list after pop

4
10.23
2
[1, 2, 2, 2]

In [1]:
#create an empty list and insert atleast 5 elements and use pop to remove the item.
mylist = []
mylist.append(10)   
mylist.append(20)
mylist.append(30)
mylist.append(40)
mylist.append(50)
print(mylist.pop(3))

40

In [3]:
newlist = [1,2,"utsav",False,10.23]
print(newlist[1:3])  #slicing the list from index 1 to 2

[2, 'utsav']

In [4]:
newlist.append([6,7,8])
print(newlist)  #appending a new list to the existing list

[1, 2, 'utsav', False, 10.23, [6, 7, 8]]

In [7]:
print(newlist[5])  #slicing the list from index 1 to 3

[6, 7, 8]

In [ ]:
newlist.remove(2)  #removing the first occurrence of 2
print(newlist)  #slicing the list from index 1 to 3

[1, 'utsav', False, 10.23, [6, 7, 8]]

In [17]:
list1 = [10,20,30,40,50,60,70,80,90,100]
list1.remove(20)  #removing first occurrence of 20
print(list1)  #list after removing 20
print(list1.pop(3))  #removing element at index 3
print (list1)  #list after pop
del list1[4]  #deleting element at index 4
print(list1)  #list after deleting index 4
print(list1.index(30))  #finding index of first occurrence of 30

[10, 30, 40, 50, 60, 70, 80, 90, 100]
50
[10, 30, 40, 60, 70, 80, 90, 100]
[10, 30, 40, 60, 80, 90, 100]
1

In [18]:
list2 = [4,7,3,8,0,9,1]
list2.sort()  #sorting the list in ascending order
print(list2)  #sorted list

[0, 1, 3, 4, 7, 8, 9]

In [19]:
list2.sort(reverse=True)  #sorting the list in descending order
print(list2)  #sorted list in descending order

[9, 8, 7, 4, 3, 1, 0]

In [20]:
list2.reverse()  #reversing the list
print(list2)  #reversed list

[0, 1, 3, 4, 7, 8, 9]

In [3]:
list2 = [4,7,3,8,0,9,1]
list2.clear()  #clearing the list
print(list2)  #list after clearing, should be empty

[]

In [4]:
list3 = [1,2,3,4,5]
list3.extend([6,7,8]) #extending the list with another list
print(list3)  #list after extending

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(list3[1:4]) #1 dekhii 3 samma slice

[2, 3, 4]

In [ ]:
list4 = [10,20,30,40,50,60,70,80,90,100]
print(list4[1:9:2])  #slicing the list from index 2 to 9 with a step of 2

[20, 40, 60, 80]

In [9]:
list5 = [1,2,3,4,5,2]
list5.remove(2)  #removing the first occurrence of 2
print(list5)  #list after removing the first occurrence of 2

[1, 3, 4, 5, 2]

In [10]:
list6 = []
list5.copy()  #copying list5 to list6
print(list6)  #list6 should be empty as list5 was cleared

[]

In [12]:
print(list5[::-1])  #list after reversing using slicing

[2, 5, 4, 3, 1]

In [14]:
# tupples  is an immutable data type
()

()

In [ ]:
tupple1 = (1, 2, "st", 4.5, 5)
print(tupple1)  # printing the tuple
print(type(tupple1))  # checking the type of the tuple

(1, 2, 3, 4, 5)
<class 'tuple'>

In [17]:
tuple2 = (1, 2, 3, 4, (5, 6, 7))  # tuple with nested tuple
print(tuple2)  # printing the nested tuple
tuple3 = (1, 2, 3, 4, 5 ,[6, 7, 8])  # tuple with a list
print(tuple3)  # printing the tuple with a list

(1, 2, 3, 4, (5, 6, 7))
(1, 2, 3, 4, 5, [6, 7, 8])

In [20]:
print(tuple3.count(2))  # counting occurrences of 2 in tuple3
print(tuple3.index(5))  # finding index of first occurrence of 3 in tuple

1
4

In [22]:
t = ("utsav")
print(type(t))  # checking the type which is string

<class 'str'>

In [23]:
l = ["utsav"]
print(type(l))  # checking the type which is list

<class 'list'>

In [27]:
# create a tuple with atleast 4 element of different data type and try slicing and indexing
tuple4 = (1, "hello", 3.14, True)
print(tuple4.index("hello"))  # finding index of "hello"
print(tuple4[1:3])  # slicing the tuple from index 1 to 2
print(tuple4[2])  # accessing the third element of the tuple

1
('hello', 3.14)
3.14

In [31]:
t = (1,(1,2,3),[4,5,6])
t[2][0] = "x"
print(t)  # printing the modified tuple with list element changed
t[2][2] = "y"  # modifying the third element of the list inside the tuple
print(t)  # printing the tuple after modification

(1, (1, 2, 3), ['x', 5, 6])
(1, (1, 2, 3), ['x', 5, 'y'])

In [32]:
#concatenate tuples
t = (1, 2, 3) + (4, 5, 6)
print(t)  # printing the concatenated tuple

(1, 2, 3, 4, 5, 6)

In [34]:
#in: membership operator return boolean value
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(4 in t)  # checking if 4 is in the tuple 
print(min(t))  # finding the minimum value in the tuple

True
1

In [39]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
list = list(t)  # converting tuple to list
print(list)  # printing the list converted from tuple

TypeError: 'list' object is not callable

In [40]:
# python sets, mutable, unordered
sets = {1, 2, 3, 4, 5}
print(sets)  # printing the set
sets.add(6)  # adding an element to the set
print(sets)  # printing the set after adding an element 
set1 = {1, 1, 2, 3, 4, 5 ,1}
print(set1)  # printing the set with duplicate elements, should show unique elements only

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [41]:
sets = {}
print(type(sets))  # printing the type of sets, should be dict as empty set is created with {}

<class 'dict'>

In [ ]:
s = set() #set() class
print(type(s))  # printing the type of s, should be set

<class 'set'>

In [49]:
# to insert item in set we use add() method
sets = {1, 2, 3}
sets.add(4)  # adding an element to the set
print(sets)  # printing the set after adding an element

{1, 2, 3, 4}

In [50]:
sets.update([5, 6, 7])  # adding multiple elements to the set
print(sets)  # printing the set after adding multiple elements

{1, 2, 3, 4, 5, 6, 7}

In [51]:
sets.discard(5)  # removing an element from the set
print(sets)  # printing the set after discarding an element
sets.remove(6)  # removing an element from the set4
print(sets)  # printing the set after removing an element

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 7}

In [52]:
sets.pop()  # removing and returning an arbitrary element from the set
print(sets)  # printing the set after pop

{2, 3, 4, 7}

In [55]:
# set operations
set1 = {1, 2, "utsav"}
set2 = {2, 3, "ranjitkar"}
set3 = set1.union(set2)  # union of two sets
print(set3)  # printing the union of set1 and set2

{1, 2, 3, 'ranjitkar', 'utsav'}

In [56]:
set4 = set1.intersection(set2)  # intersection of two sets
print(set4)  # printing the intersection of set1 and set2

{2}

In [57]:
set5 = set1.difference(set2)  # difference of two sets
print(set5)  # printing the difference of set1 and set2

{1, 'utsav'}

In [58]:
set6 = set1 & set2  # another way to find intersection
print(set6)  # printing the intersection using '&' operator
set7 = set1 | set2  # another way to find union
print(set7)  # printing the union using '|' operator

{2}
{1, 2, 3, 'ranjitkar', 'utsav'}

In [59]:
set1 = frozenset({1, 2, 3})  # creating a frozenset
print(set1)  # printing the frozenset
#immutable unordered collection of unique elements

frozenset({1, 2, 3})

In [2]:
t = (4,)
print(type(t))  # checking the type of t, should be tuple

<class 'tuple'>

In [6]:
t2 = (1, 2, 3, 4, 5)
print(t2[-1])  # accessing the last element of tuple t2

5

In [ ]:
print(t2 * 2)  # multiplying the tuple t2 by 2, should repeat the elements

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [11]:
t3 = (1, 2, 3)
a , b, c = t3
print(a, b, c)  # unpacking the tuple t3 into variables a, b, c

1 2 3

In [12]:
list(t3)  # converting tuple t3 to list, should return [1, 2, 3]

[1, 2, 3]

In [20]:
a = {1, 2, 3, 4, 6, 7}
b = {6, 7, 8, 9, 10}    
print(a == b) 
print(a != b)  # checking if sets a and b are not equal
print(a.issubset(b))  # checking if a is a subset of b
print(a.issuperset(b))  # checking if a is a superset of b
print(a.isdisjoint(b))  # checking if sets a and b are disjoint

False
True
False
False
False

In [21]:
for item in a:
    print(item)  # iterating through set a and printing each item

1
2
3
4
6
7

In [22]:
for i in a:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is not even")

1 is not even
2 is even
3 is not even
4 is even
6 is even
7 is not even

In [23]:
list(a)

[1, 2, 3, 4, 6, 7]

In [24]:
print(len(b))  # printing the length of set b

5

In [ ]:
in