In [1]:
print("first")

first

In [6]:
#code for identifying leap year
year = int(input("Enter a year"))
if year % 4 == 0 and year % 100 != 0:
    print(f"{year} is a leap year")
elif year % 400 == 0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2400 is a leap year

In [14]:
#code for checking pallindrome
a = input("Enter a string or a number")
b = a[::-1]
if a == b:
    print(f"{a} is a pallindrome number")
else:
    print(f"{a} is not a pallindrome number")

qwerewq is a pallindrome number

In [16]:
#looping conditions
fruits = ["apple","banana","mango"]
print(fruits)
for i in fruits:
    print(i)

['apple', 'banana', 'mango']
apple
banana
mango

In [17]:
a = 1
fruits = ["apple","banana","mango",1]
print(fruits)
for i in fruits:
    print(a,i)
    a+=1

['apple', 'banana', 'mango', 1]
1 apple
2 banana
3 mango
4 1

In [19]:
my_string = "Utsav Ranjit"
for i in my_string:  #i ko satta j ni rakhna payo
    print(i)

U
t
s
a
v

R
a
n
j
i
t

In [ ]:
#find the sum of all even numbers from 1 to 100
total = 0
for i in range(2,101,2): #start stop step
    total = total + i
print(total)

2550

In [28]:
total = 0
for i in range(1,101):
    if i % 2 ==0:
        total = total + i
print("total sum of even numbers from 1 to 100:",total)

total sum of even numbers from 1 to 100: 2550

In [23]:
for i in range(2,6):
    print(i)

2
3
4
5

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# takes a sentence from the user and counts how many words are vowel
count = 0
text = input("Enter a sentence")
for i in text:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' :
        count = count + 1
print(f"{text} has {count} vowels")   # f bhaneko chai formated string

hello world has 3 vowels

In [33]:
count = 0
text = input("Enter a sentence")
vowels = "aeiouAEIOU"
for i in text:
    if i in vowels:
        count = count + 1
print(f"{text} has {count} vowels")

hello world has 3 vowels

In [38]:
count = 0
text = input("Enter a sentence")  
words = text.split()  #splits the words by spaces and places them in list
vowels = "aeiouAEIOU"
for word in words:   #checks each word
    for i in word:   #check each letter
        if i in vowels:  #checks if letter is a vowel
            count = count + 1
    print(f"{word} has {count} vowels")

my has 0 vowels
name has 2 vowels
is has 3 vowels
utsav has 5 vowels
ranjitkar has 8 vowels

In [ ]:
#split and nested for loop

In [1]:
text = "apple banana cherry"
words = text.split()  # ['apple', 'banana', 'cherry']
print(words)

['apple', 'banana', 'cherry']

In [2]:
for i in range(2):         # Outer loop
    for j in range(3):     # Inner loop
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [3]:
num = 7
for i in range(1,11):
    print(f"{num} X {i} = {num*i}")

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [6]:
for i in range(1,11):
    print("\n")
    for j in range(1,11):
        print(f"{i} X {j} = {i*j}")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90


10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100