In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\conda_envs\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\conda_envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ------------ --------------------------- 3.4/11.3 MB 22.3 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.3 MB 22.4 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 21.5 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp311-cp311-win_amd64.whl (13.0 MB)
   ---------------------------------------- 0.0/13.0 MB ? eta -:--:--
   ---------------- ----------------------- 5.2/13.0 MB 24.5 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/13.0 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 13.0/13.0 MB 22.7 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.1 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

In [2]:
import pandas as pd

panda series and dataframe.
panda series.
1d- laeled array like object, can be thought as single column of data frame
0 aaa
1 bbb
c vre

syntax:
import pandas as pd
series = pd.Series(data, index=optional_index)
optional index = either in tuple, list

In [4]:
import pandas as pd

list = [1,2,3,"stringg"]

series = pd.Series(list, index=("x","y","z","string"))
print(series)

x               1
y               2
z               3
string    stringg
dtype: object

In [5]:
import pandas as pd

list = [1,2,3,"stringg"]

series = pd.Series(list)
print(series)

0          1
1          2
2          3
3    stringg
dtype: object

In [6]:
import pandas as pd
list1 = [1,2,3,"String"]
list2 = [4,5,6,"abc"]
list3 = list1 + list2
series = pd.Series(list3, index = ("a","b","c","d","e","f","g","h"))
print(series)

a         1
b         2
c         3
d    String
e         4
f         5
g         6
h       abc
dtype: object

In [9]:
import pandas as pd

grades = {"sem1":3.25,"sem2":3.27,"sem3":3.28}

series = pd.Series(grades) 
print(series)

sem1    3.25
sem2    3.27
sem3    3.28
dtype: float64

In [10]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}
df = pd.DataFrame(data)
print(df)

    Name  Age        city
0   Jhon   25   Kathmandu
1  Alice   35    Lalitput
2    Bob   23  biratnagar

In [7]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}
df = pd.Series(data)
print(df)

Name                   [Jhon, Alice, Bob]
Age                          [25, 35, 23]
city    [Kathmandu, Lalitput, biratnagar]
dtype: object

In [ ]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}
df = pd.DataFrame(data, index = ("a","b","c"))  #index use garna milxa
print(df)

    Name  Age        city
a   Jhon   25   Kathmandu
b  Alice   35    Lalitput
c    Bob   23  biratnagar

In [13]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}
df = pd.DataFrame(data)
df.set_index('Age', inplace=True) #agadi aauxa inplace= true garyo bhane matra 
print(df)

      Name        city
Age
25    Jhon   Kathmandu
35   Alice    Lalitput
23     Bob  biratnagar

In [10]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}

df = pd.DataFrame(data)
print(df)

import numpy as np
df = pd.DataFrame(data, index = np.arange(5,8))
print(df)

    Name  Age        city
0   Jhon   25   Kathmandu
1  Alice   35    Lalitput
2    Bob   23  biratnagar
    Name  Age        city
5   Jhon   25   Kathmandu
6  Alice   35    Lalitput
7    Bob   23  biratnagar

In [13]:
data = {'Name':['Jhon','Alice','Bob'],
        'Age':[25,35,23],
        'city':['Kathmandu','Lalitput','biratnagar']}

df = pd.DataFrame(data)
df.columns = ["N", "A", "C"]
print(df)

       N   A           C
0   Jhon  25   Kathmandu
1  Alice  35    Lalitput
2    Bob  23  biratnagar

In [ ]:
#assiggnment
import pandas as pd

# Data for the table
data = {
    "Employee Name": ["John", "Kate", "Leo"],
    "Department": ["IT", "HR", "Sales"],
    "Salary": [50000, 55000, 60000]
}

df = pd.DataFrame(data)

print(df)

  Employee Name Department  Salary
0          John         IT   50000
1          Kate         HR   55000
2           Leo      Sales   60000

In [17]:
import pandas as pd

# Data for the table
data = {
    "Employee Name": ["John", "Kate", "Leo","John"],
    "Department": ["IT", "HR", "Sales","Cleaning"],
    "Salary": [50000, 55000, 60000, 30000],
    "Age": [20, 40,30,60]
}

df = pd.DataFrame(data)
print(df)
#pivot cant handle dublicate
#pivot table handles dublicate
print("")
df_pivot = df.pivot(index='Employee Name', columns = 'Salary', values = "Department")
print(df_pivot)

  Employee Name Department  Salary  Age
0          John         IT   50000   20
1          Kate         HR   55000   40
2           Leo      Sales   60000   30
3          John   Cleaning   30000   60

Salary            30000 50000 55000  60000
Employee Name
John           Cleaning    IT   NaN    NaN
Kate                NaN   NaN    HR    NaN
Leo                 NaN   NaN   NaN  Sales

In [18]:

print(df)

  Employee Name Department  Salary  Age
0          John         IT   50000   20
1          Kate         HR   55000   40
2           Leo      Sales   60000   30
3          John   Cleaning   30000   60

In [ ]:
data = {
    "Employee Name": ["John", "Kate", "Leo","John"],
    "Department": ["IT", "HR", "Sales","Cleaning"],
    "Salary": [50000, 55000, 60000, 30000],
    "Age": [20, 40,30,60]
}
df = pd.DataFrame(data)
df = df.drop([3])
print(df)

  Employee Name Department   Salary  Age
0          John         IT  50000.0   20
1          Kate         HR      NaN   40
2           Leo       None  60000.0   30
3          John       None  30000.0   60

In [ ]:
#.dropna => drops only null value
data = {
    "Employee Name": ["John", "Kate", "Leo","John"],
    "Department": ["IT", "HR", None, None],
    "Salary": [50000, None, 60000, 30000],
    "Age": [20, 40,30,60]
}
df = pd.DataFrame(data)
df.isnull().sum()

print(df)

df_clean = df.dropna()  #row with null value
print(df_clean)

df_clean = df.dropna(axis = 1)  #column with null value
print(df_clean)

df_clean = df.dropna(how = 'all')   #drop row only is all values are null
print(df_clean)

df_clean = df.dropna(subset = ['Age'])  #drop row is age column have null
print(df_clean)

  Employee Name Department   Salary  Age
0          John         IT  50000.0   20
1          Kate         HR      NaN   40
2           Leo       None  60000.0   30
3          John       None  30000.0   60
  Employee Name Department   Salary  Age
0          John         IT  50000.0   20
  Employee Name  Age
0          John   20
1          Kate   40
2           Leo   30
3          John   60
  Employee Name Department   Salary  Age
0          John         IT  50000.0   20
1          Kate         HR      NaN   40
2           Leo       None  60000.0   30
3          John       None  30000.0   60
  Employee Name Department   Salary  Age
0          John         IT  50000.0   20
1          Kate         HR      NaN   40
2           Leo       None  60000.0   30
3          John       None  30000.0   60